* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
}

.login-container {
  background-color: #f6ebda;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.slack-btn {
  background-color: #84141b;
  color: #f6ebda;
  padding: 14px 32px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #84141b;
}

.login-form input {
  padding: 10px;
  border: 1px solid #84141b;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
}

.login-form button {
  padding: 10px 20px;
  background-color: #84141b;
  color: #f6ebda;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

.start-message {
    color: #84141b;
    font-size: 40px;
    margin-bottom: 20px;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 260px;
    margin-bottom: 2px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}



