
.signup-wrapper {
  background-color: #f6ebda;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fredoka", sans-serif;
}


.signup-form {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}


.signup-form h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #84141b;
}


.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  color: #84141b;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: 600;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.signup-form button[type="submit"] {
  background-color: #84141b;
  color: #f6ebda;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button[type="submit"]:hover {
  background-color: #6c1016;
}

.signup-redirect {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.signup-link {
  color: #0353ff;
  cursor: pointer;
  text-decoration: underline;
}

.signup-link:hover {
  color: #08efff;
}
