.sidebar {
  width: 200px;
  background-color: #810000; /* dark red */
  color: #fef3e2; /* light cream */
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.sidebar h3 {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.channels p {
  margin: 0.5rem 0;
  font-weight: bold;
  cursor: pointer;
}

.profile {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.avatar {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fef3e2;
}

.status-bar {
  width: 100px;
  height: 3px;
  background-color: #fef3e2;
  border-radius: 2px;
}
