h1 {
  font-size: 2rem;
  
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* make sidebar fill full height */
  padding: 1rem;
  background-color: #84141b;
  color: #f6ebda;
}

.channels {
  margin-bottom: 2rem;
}

.profile {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.user-info {
  font-size: 0.9rem;
  color: #f6ebda;
}
