
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}


.sidebar {
  width: 250px;
  min-width: 250px;
  height: 100vh;
  background-color: #84141b;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fredoka {
  font-family: "Fredoka", sans-serif;
}